<div class="container text-center">
    <h1 class="text-center text-primary m-5">User Details</h1>  
    <table class="table border">
       <thead>
          <tr>
           <th>User Id</th>
           <th>First Nam:</th>
           <th>Age:</th>
           <th>Gender:</th>
           <th>Email:</th>
           <th>phone:</th>
           <th>Photo:</th>
           <th>Address:</th>
          </tr>
         </thead>
          <tr *ngFor="let user of allUsers">
          
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
               <img [src]="user.image" alt="" height="70px">
            </td>
            <td>{{user.address.address}}</td>
         </tr>
     
   
      
    </table> 
   </div>
